<html>
<head>
<title>Change Password</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css' ) }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css' ) }} />
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>
<body>
	<div id="title">
		<div id="logoContainer">
			<a href="/">
				<img id="logo" src={{ url_for('static', filename='images/logo.svg' ) }} />
			</a>
		</div>

		<div id="projectTitle">
			<h1>CSE 560 DMQL FINAL PROJECT: E-Commerce Website</h1>
		</div>

		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, <br>{{firstName}}</button>
			<div class="dropdown-content">
				<!-- <a href="/account/orders">Your orders</a> -->
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
		<div id="cart">
			<a class="link" href="/cart">
				<img src={{url_for('static', filename='images/shoppingCart.png' )}} id="cartIcon" />
				CART {{noOfItems}}
			</a>
		</div>
	</div>
	<h1>Change password</h1>
	<p>{{ msg }}</p>
	<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
		<p>Old Password: <input type="password" name="oldpassword"></p>
		<p>New Password: <input type="password" name="newpassword" id="newpassword"></p>
		<p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>
		<input type="submit" value="Save">
	</form>
	<a href="{{ url_for('profileHome') }}">Go to Profile</a>
</body>
</html>


